body {
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 120px;
  gap: 18px;
}

input {
  height: 24px;
}

.add-btn {
  margin-top: 18px;
}

.single-book {
  display: flex;
  flex-direction: column;
}

.rmv-btn {
  width: 164px;
}

.line {
  width: 100%;
}